.aboutpage {
    background-color: #0d1d46fc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .aboutpage .div {
    background-color: #0d1d46fc;
    overflow: hidden;
    width: 1280px;
    height: 1487px;
    position: relative;
  }
  
  .aboutpage .overlap {
    position: absolute;
    width: 530px;
    height: 86px;
    top: 160px;
    left: 82px;
  }
  
  .aboutpage .ellipse {
    position: absolute;
    width: 85px;
    height: 86px;
    top: 0;
    left: 0;
    background-color: #5880e7fc;
    border-radius: 42.5px/43px;
  }
  
  .aboutpage .hi-i-am-vaishali {
    position: absolute;
    top: 7px;
    left: 44px;
    font-family: "Italiana-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .aboutpage .text-wrapper {
    position: absolute;
    top: 11778px;
    left: 7593px;
    font-family: "Inria Serif-Bold", Helvetica;
    font-weight: 700;
    color: #55ccff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .aboutpage .overlap-group {
    position: absolute;
    width: 1244px;
    height: 577px;
    top: 246px;
    left: 110px;
  }
  
  .aboutpage .p {
    position: absolute;
    width: 665px;
    top: 363px;
    left: 0;
    font-family: "Iowan Old Style-Roman", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .aboutpage .ellipse-2 {
    position: absolute;
    width: 288px;
    height: 266px;
    top: 278px;
    left: 956px;
    background-color: #5880e7fc;
    border-radius: 144px/133px;
  }
  
  .aboutpage .ellipse-3 {
    position: absolute;
    width: 345px;
    height: 358px;
    top: 42px;
    left: 653px;
    border-radius: 172.5px/179px;
    border: 7px solid;
    border-color: #f09480;
  }
  
  .aboutpage .text-wrapper-2 {
    position: absolute;
    width: 652px;
    top: 87px;
    left: 0;
    font-family: "Iowan Old Style-Roman", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .aboutpage .text-wrapper-3 {
    position: absolute;
    width: 658px;
    top: 241px;
    left: 0;
    font-family: "Iowan Old Style-Roman", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .aboutpage .image {
    position: absolute;
    width: 480px;
    height: 577px;
    top: 0;
    left: 690px;
    object-fit: cover;
  }
  
  .aboutpage .frame {
    position: absolute;
    width: 1091px;
    height: 417px;
    top: 940px;
    left: 108px;
  }
  
  .aboutpage .view-resume-wrapper {
    display: flex;
    width: 231px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 19px 58px;
    position: absolute;
    top: 321px;
    left: 431px;
    background-color: #193a90fc;
    border-radius: 100px;
    overflow: hidden;
  }
  
  .aboutpage .view-resume {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-left: -29px;
    margin-right: -29px;
    font-family: "Inter-ExtraBold Italic", Helvetica;
    font-weight: 800;
    font-style: italic;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .aboutpage .frame-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 29px;
    position: absolute;
    top: 29px;
    left: 0;
  }
  
  .aboutpage .frame-2 {
    position: relative;
    width: 975px;
    height: 62px;
  }
  
  .aboutpage .overlap-group-wrapper {
    position: absolute;
    width: 321px;
    height: 62px;
    top: 0;
    left: 0;
    background-color: #102048;
  }
  
  .aboutpage .overlap-group-2 {
    position: relative;
    width: 263px;
    height: 42px;
    top: 10px;
  }
  
  .aboutpage .ellipse-4 {
    position: absolute;
    width: 43px;
    height: 42px;
    top: 0;
    left: 0;
    background-color: #193a90fc;
    border-radius: 21.5px/21px;
  }
  
  .aboutpage .text-wrapper-4 {
    position: absolute;
    width: 263px;
    top: 3px;
    left: 0;
    font-family: "Italiana-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .aboutpage .overlap-wrapper {
    position: absolute;
    width: 267px;
    height: 54px;
    top: 3px;
    left: 384px;
    background-color: #102048;
  }
  
  .aboutpage .overlap-2 {
    position: relative;
    width: 253px;
    height: 42px;
    top: 6px;
    left: 14px;
  }
  
  .aboutpage .ellipse-5 {
    position: absolute;
    width: 43px;
    height: 42px;
    top: 0;
    left: 3px;
    background-color: #193a90fc;
    border-radius: 21.5px/21px;
  }
  
  .aboutpage .text-wrapper-5 {
    position: absolute;
    width: 253px;
    top: 4px;
    left: 0;
    font-family: "Italiana-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .aboutpage .div-wrapper {
    position: absolute;
    width: 143px;
    height: 60px;
    top: 0;
    left: 832px;
    background-color: #102048;
    overflow: hidden;
  }
  
  .aboutpage .overlap-3 {
    position: relative;
    width: 128px;
    height: 42px;
    top: 9px;
    left: -9px;
  }
  
  .aboutpage .ellipse-6 {
    position: absolute;
    width: 43px;
    height: 42px;
    top: 0;
    left: 5px;
    background-color: #193a90fc;
    border-radius: 21.5px/21px;
  }
  
  .aboutpage .tools {
    position: absolute;
    width: 128px;
    top: 2px;
    left: 0;
    font-family: "Italiana-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .aboutpage .user-interviews {
    position: absolute;
    width: 322px;
    top: 115px;
    left: 12px;
    font-family: "Iowan Old Style-Roman", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .aboutpage .web-and-mobile {
    position: absolute;
    width: 295px;
    top: 110px;
    left: 412px;
    font-family: "Iowan Old Style-Roman", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .aboutpage .figma-adobe-fresco {
    position: absolute;
    width: 229px;
    top: 110px;
    left: 845px;
    font-family: "Iowan Old Style-Roman", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .aboutpage .logo {
    width: 66px;
    top: 43px;
    left: 143px;
    position: absolute;
    height: 39px;
    box-shadow: inset 0px 4px 4px #ffffff8c;
  }
  
  .aboutpage .overlap-group-3 {
    position: absolute;
    width: 33px;
    height: 40px;
    top: 0;
    left: 0;
  }
  
  .aboutpage .vector {
    position: absolute;
    width: 23px;
    height: 40px;
    top: 0;
    left: 0;
  }
  
  .aboutpage .ellipse-7 {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 0;
    left: 22px;
    background-color: #f09480;
    border-radius: 5.5px;
    border: 0.5px solid;
    border-color: #84b2d46b;
  }
  
  .aboutpage .overlap-4 {
    position: absolute;
    width: 30px;
    height: 39px;
    top: 0;
    left: 36px;
  }
  
  .aboutpage .ellipse-8 {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 0;
    left: 18px;
    background-color: #f09480;
    border-radius: 5.5px;
    border: 0.5px solid;
    border-color: #84b2d46b;
  }
  
  .aboutpage .group {
    position: absolute;
    width: 30px;
    height: 36px;
    top: 3px;
    left: 0;
  }
  
  .aboutpage .frame-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
    position: absolute;
    top: 43px;
    left: 744px;
  }
  
  .aboutpage .abouticon {
    position: relative;
    width: 112px;
    height: 42px;
    background-color: #0d1d46fc;
  }
  
  .aboutpage .text-wrapper-6 {
    position: absolute;
    top: 8px;
    left: 19px;
    font-family: "Inter-BlackItalic", Helvetica;
    font-weight: 900;
    font-style: italic;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .aboutpage .myworkicon {
    position: relative;
    width: 141px;
    height: 42px;
    background-color: #0d1d46fc;
  }
  
  .aboutpage .resumeicon {
    position: relative;
    width: 123px;
    height: 42px;
    background-color: #0d1d46fc;
  }
  
  .aboutpage .component {
    position: absolute;
    width: 1039px;
    height: 54px;
    top: 1406px;
    left: 137px;
  }
  
  .aboutpage .FOOTER {
    position: absolute;
    width: 124px;
    height: 54px;
    top: 0;
    left: 915px;
  }
  
  .aboutpage .logo-2 {
    width: 65px;
    top: 13px;
    left: 0;
    position: absolute;
    height: 39px;
    box-shadow: inset 0px 4px 4px #ffffff8c;
  }
  
  .aboutpage .ellipse-9 {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 0;
    left: 22px;
    background-color: #d74626;
    border-radius: 5.42px/5.5px;
    border: 0.5px solid;
    border-color: #84b2d46b;
  }
  
  .aboutpage .overlap-5 {
    position: absolute;
    width: 30px;
    height: 39px;
    top: 0;
    left: 35px;
  }
  
  .aboutpage .ellipse-10 {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 0;
    left: 18px;
    background-color: #da5335;
    border-radius: 5.42px/5.5px;
    border: 0.5px solid;
    border-color: #84b2d46b;
  }
  
  .aboutpage .line {
    position: absolute;
    width: 1280px;
    height: 9px;
    top: 1382px;
    left: 0;
  }
  
  .aboutpage .text-wrapper-7 {
    position: absolute;
    top: 882px;
    left: 524px;
    font-family: "Italiana-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .aboutpage .ux-ui-designer {
    position: fixed;
    top: 242px;
    left: 129px;
    font-family: "Italiana-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  