.header-navigation {
  width: 1728px;
  height: 139px;
}

.header-navigation .overlap-group {
  position: relative;
  height: 139px;
  left: 1px;
  background-color: #15171acc;
  backdrop-filter: blur(80px) brightness(100%);
  -webkit-backdrop-filter: blur(80px) brightness(100%);
}

.header-navigation .main-primary {
  position: absolute;
  width: 896px;
  height: 52px;
  top: 59px;
  left: 454px;
}

.header-navigation .about-us {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 13px;
  left: 42px;
}

.header-navigation .text-wrapper {
  position: relative;
  width: 112px;
  height: 26px;
  margin-top: -1px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.header-navigation .products {
  position: absolute;
  width: 115px;
  height: 30px;
  top: 11px;
  left: 192px;
}

.header-navigation .div {
  position: absolute;
  top: 0;
  left: 4px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.header-navigation .services {
  position: absolute;
  width: 95px;
  height: 30px;
  top: 11px;
  left: 344px;
  overflow: hidden;
}

.header-navigation .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: -2px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.header-navigation .industries {
  position: absolute;
  width: 127px;
  height: 30px;
  top: 11px;
  left: 476px;
  overflow: hidden;
}

.header-navigation .text-wrapper-3 {
  position: absolute;
  width: 135px;
  top: -1px;
  left: 10px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.header-navigation .insights {
  position: absolute;
  width: 95px;
  height: 30px;
  top: 11px;
  left: 640px;
}

.header-navigation .text-wrapper-4 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.header-navigation .partner {
  position: absolute;
  width: 112px;
  height: 35px;
  top: 9px;
  left: 772px;
}

.header-navigation .text-wrapper-5 {
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.header-navigation .RIALTES-LOGO-v {
  position: absolute;
  width: 133px;
  height: 131px;
  top: 4px;
  left: 71px;
  object-fit: cover;
}

.header-navigation .button-getstarted {
  position: absolute;
  width: 160px;
  height: 47px;
  top: 59px;
  left: 1399px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgb(19, 72, 117) 0%, rgb(68.16, 126.83, 168.05) 63.02%, rgb(97, 159, 198) 100%);
}

.header-navigation .text-wrapper-6 {
  position: absolute;
  top: 12px;
  left: 32px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.header-navigation .icon-search {
  position: absolute;
  width: 30px;
  height: 29px;
  top: 69px;
  left: 1595px;
}
